body{
    background-color: rgb(143, 196, 154);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    color: rgb(23, 23, 75);
}

p{
    color: rgb(61, 97, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    background-color: rgb(0, 255, 76);
    border-radius: 10px;
}